body{
  padding: 0;
  margin: 0;
  color: white;
}
#parent{
  width: 100vw;
  height: 100vh;
  border: 1px blue solid;
}
#spotify{
  /* border: 2px red solid; */
  height: 87vh;
  width: 20vw;
  background-color: black;
}
#logo{
  width: 204px;
  padding: 24px;
  display: flex;
}
#home{
  color: white;
  margin-top: 26px;
}
#img1,#src,#lib{
  width: 24px;
  height: 21px;
  margin-left:33px ;
  margin-right: 23px;
}
#home1,#home2,#home3{
  display: flex;
  align-items: center;
  margin-bottom: -19px;
}
.icon{
  width: 24px;
  height: 21px;
  margin-left:33px ;
  margin-right: 23px;
}
#create,#liked,#your{
display: flex;
align-items: center;
margin-bottom: -19px;
}
#play{
  margin-top: 37px;
  color: white;
}
#fav{
  color: white;
  line-height: 37px;
  margin-left: 33px;
}
#install{
  color: white;
  display: flex;
  align-items: center;
}
#low{
  width: 100vw;
  height: 10vh;
  background-color: #121212;
}
footer{
  background-color: rgb(95, 224, 95);
  text-align: end;
  margin-top: 0;
}
footer>p{
  margin-top: 0;
  margin-right: 108px;
  margin-bottom: 0;
  padding-bottom: 0;
  color: black;
}
#dream{
  color:white;
  display: flex;
  padding-right: 0;
  width: 100vw;
  position: absolute;
}
#drem{
  width: 65px;
  padding: 10px;
  height: 60px;
  line-height: 20px;
  margin-left: 33px;
}
h4+p{
  font-size: 11px;
  margin-top: -10px;
}
#hrt{
  width: 26px;
  margin-top: 18px;
  margin-left: 48px;
}
#music{
  width: 730px;
  margin-left: 146px;
}
#right{
  width: 290px;
  margin-top: 28px;
  margin-left: 52px;
  padding-right: 0;
}
#main{
  height: 87vh;
  width: 80vw;
  background-image: linear-gradient(#1F1F1F,black);
  position: absolute;
  bottom: 120px;
  left: 20%;
}
#top{
  /* border: 1px red solid; */
  height: 6vh;
  width: 80vw;
  display: flex;
  justify-content: space-between;
}
#arrow>img{
  width: 85px;
  padding: 10px;
}
#person{
  width: 30px;
  border-radius: 50%;
  height: 30px;
  /* margin-left: 20px; */
  position: absolute;
}
#bar{
  width: 114px;
  height: 30px;
  margin-right: 36px;
}
h4+img{
  width: 30px;
  /* height: 30px; */
  position: absolute;
  right: 38px;
}
#bar+h4{
  position: absolute;
  right: 74px;
}
#arrow+div{
  color: white;
  display: flex;
  align-items: center;
}
#mrng{
  padding: 23px;
}
#big{
  padding: 23px;
  display: flex;
}
#bc,#bc2,#bc3,#bc4,#bc5{
  width: 85px;
  height: 85px;
}
#heat{
  width: 45px;
  position: absolute;
  left: 44px;
  top: 225px;

}
#big1,#big2,#big3,#big4{
  display: flex;
}
#con1,#con2,#con3,#con4,#con5{
  height: 85px;
  width: 200px;
  /* border:1px red solid; */
  background-color: #242424;
  border-radius: 5px;
  margin-right: 15px;
}
.txt{
  margin-top:18.5%;
  margin-left: 10px;
  font-size: 18px;
}
#mnc{
  padding: 26px;
  display: flex;
  margin-top: -29px;
}
#Dance{
  margin-top: 20px;
}
#dope>h2{
  padding: 26px;
}
#secret{
  color:grey;
  margin-right: 29px;
}
#dope{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#final{
  width: 78vw;
  height: 26vh;
  /* border: red 1px solid; */
  margin-top: -10px;
  display: flex;
  justify-content: space-between;
  padding: 26px;
  padding-right: 0;
}
#final1,#final2,#final3,#final4,#final5,#final6{
  /* border: red 1px solid; */
  width: 12vw;
  height: 26vh;
  background-color: #1e1d1d;
  margin-right: 10px;
}
.hero{
  width: 10vw;
  height: 22vh;
  /* border: 1px blue solid; */
  margin-left: 1vw;
  margin-top: 2vh;
  position: absolute;
}
.hero>img{
  margin-left: 15px;
  width: 125px;
}
.hero>h4,.hero>p{
  margin-left: 19px;
}
